<!DOCTYPE html>
<html lang='zh'>

<head>
    <meta charset="utf-8" />
    <title>新手上路</title>
    <link rel="stylesheet" href="./static/style.css">
</head>


<body>
    <div id="left">
        <div class="box top">
            <input type="text" placeholder="输入并搜索" />
        </div>
        <div class="group">
            <div class="title">main</div>
            <a href="index.html">
                <div class="item">首页</div>
            </a>
            <a href="intro.html">
                <div class="item">简介</div>
            </a>
            <div class="item selected">新手上路</div>
        </div>
        <div class="group">
            <div class="title">基本工作流程</div>
            <div class="item">资源工作流程</div>
            <div class="item">场景制作工作流程</div>
            <div class="item">脚本开发指南</div>
            <div class="item">一键接入第三方服务</div>
            <div class="item">发布跨平台游戏</div>
        </div>
        <div class="group">
            <div class="title">子系统介绍</div>
            <div class="item">图像和渲染</div>
            <div class="item">UI 系统</div>
            <div class="item">动画系统</div>
            <div class="item">音乐和音效</div>
            <div class="item">物理与碰撞系统</div>
            <div class="item">3D 系统</div>
            <div class="item">3D 物理与碰撞系统</div>
            <div class="item">Asset Manager 资源管理</div>
        </div>
        <div class="group">
            <div class="title">进阶使用</div>
            <div class="item">扩展编辑器</div>
            <div class="item">进阶主题</div>
            <div class="item">SDK 集成</div>
        </div>
        <div class="box btm">
            <div class="group">
                <div class="item footer">本书使用 GitBook 开发</div>
            </div>
        </div>
    </div>
    <div id="right">
        <div id="nav">
            <div id="nav-left">
                <a href="https://www.cocos.com/">
                    <img src="https://forum.cocos.org/images/logo.png" />
                </a>
                <div class="item">English</div>
                <div class="item book">Cocos Creator</div>
                <div class="item book">Cocos Creator 3D</div>
                <div class="item book">Cocos2d-x</div>
            </div>
            <div id="nav-right">
                <div id="version">
                    <span id="tip">Version:</span>
                    <span id="detail">2.4</span>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="side-bar">
                <a href="#rm">
                    <div class="item">Cocos Creator 入门</div>
                </a>
            </div>
            <div id="article">
                <h1 id="rm">Cocos Creator 入门</h1>
                <p>本章内容将为您介绍 Cocos Creator 的定位、功能和特色，以及如何快速上手使用 Cocos Creator 开发包括 iOS、Android、HTML5、PC 客户端和各类"小游戏"的跨平台游戏产品！
                </p>
                <p>本章包括以下能够让您用最快速度上手的教程内容：</p>
                <ul>
                    <li><a href="">关于 Cocos Creator</a></li>
                    <li><a href="">安装和启动</a></li>
                    <li><a href="">使用 Dashboard</a></li>
                    <li><a href="">Hello World!</a></li>
                    <li><a href="">项目结构</a></li>
                    <li><a href="">编辑器基础</a></li>
                    <li><a href="">代码编辑环境配置</a></li>
                    <li><a href="">快速上手: 制作第一个游戏</a></li>
                    <li><a href="">Cocos2d-x 用户上手指南</a></li>
                    <li><a href="">获取帮助和支持</a></li>
                    <li><a href="">v1.10 资源升级指南</a></li>
                    <li><a href="">v2.0 升级指南</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        By 王家兴 20194695 （页面参考自<a href="https://docs.cocos.com/" target="_blank">Cocos Creator v2.4 用户手册</a> ）
        <a href="https://github.com/WJBFks/Assignment_1/" target="_blank">GitHub</a>
    </div>
    <a href="#nav-left">
        <div id="to-top" type="button">
            <img src="https://cdn.jsdelivr.net/gh/WJBFks/Assignment_1@master/img/top.png" />
        </div>
    </a>
</body>

</html>